# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
build/
*.xcarchive
*.moved-aside

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# App data
*.ipa
*.dSYM.zip
*.dSYM
